.modalContainer {
  background-color: rgba(39, 43, 49, 0.3);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 20;
}

.modalWrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2.5rem;
  width: 480px;
  height: 450px;
  z-index: 30;
  border-radius: 20px;
}

.signUpModalWrap {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2.5rem;
  width: 500px;
  height: 520px;
  z-index: 30;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.title {
  color: #34383b;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-family: "Montserrat", sans-serif;
}

.closeBtn {
  cursor: pointer;
  margin-right: -1rem;
  margin-top: -1rem;
}

.authBtn {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #dfe0e3;
  padding: 0.8rem 1rem;
  border-radius: 8px;
  text-align: center;
  margin-bottom: 0.5rem;
}
.authBtn:hover {
  background-color: #f5f7f9;
}

.authText {
  width: 100%;
  color: #70757c;
  font-family: "Montserrat", sans-serif;
}

.bottomSection {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.subText {
  color: #70757c;
  font-size: 0.88rem;
  font-family: "Montserrat", sans-serif;
}

.signText {
  cursor: pointer;
  color: rgb(51, 202, 197);
  text-decoration: underline;
  font-size: 0.88rem;
  margin-left: 0.3rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.termsContent {
  color: #70757c;
  font-size: 0.7rem;
  display: flex;
  margin-top: 2rem;
  text-align: center;
}
.termsContent span {
  width: 100%;
  display: inline;
  font-family: "Montserrat", sans-serif;
}

.termsLink {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 580px) {
  .modalWrap {
    width: 90%;
    height: 320px;
    padding: 2.2rem;
  }

  .title {
    font-size: 1.15rem;
    margin-bottom: 1.5rem;
  }

  .authBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    border: 1px solid #dfe0e3;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    margin-bottom: 0.2rem;
  }

  .signUpModalWrap {
    width: 90%;
    height: 370px;
    padding: 2rem;
  }
  .authText {
    font-size: 0.8rem;
  }
  .subText {
    font-size: 0.7rem;
  }

  .signText {
    font-size: 0.75rem;
  }
  .bottomSection {
    margin-top: 1rem;
  }
  .termsContent {
    margin-top: 0.7rem;
    font-size: 0.6rem;
  }
}
