.container {
  width: 719px;
  margin: 0 auto;
  margin-left: 224px;
}

.listHeader {
  font-family: "Montserrat", sans-serif;
}

.resultMsg {
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.resultDetail {
  color: gray;
  font-size: 0.95rem;
  font-weight: 500;
}

.itemsList {
  margin-top: 1.8rem;
  padding-bottom: 3rem;
}

.loadingBox {
  display: flex;
  justify-content: center;
}
.loading {
  width: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 5rem;
}
