.header {
  margin: 0 auto;
  width: 1280px;
  height: 64px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: white;
  z-index: 10;
  position: sticky;
  top: 0;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logoBox {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
}
.logo {
  cursor: pointer;
}

.mobilelogo {
  display: none;
}

.inputBox {
  position: absolute;
  left: 205px;
  width: 685px;
  height: 2.5rem;
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  background-color: rgb(237, 241, 244);
  border: none;
  border-radius: 8px;
}

.inputSearch {
  width: 100%;
  height: 100%;
  background-color: rgb(237, 241, 244);
  border: none;
  border-radius: 8px;
  padding: 0 1rem;
  font-size: 1rem;
}

.inputSearch:focus {
  outline: none;
}

.inputSearch::placeholder {
  font-family: "Roboto", sans-serif;
  color: #b6b8bc;
}

.searchBtn {
  cursor: pointer;
  padding: 0.5rem;
  margin-right: 0.3rem;
}

.btns {
  position: absolute;
  right: 0;
  display: flex;
  font-size: 0.85rem;
}

.signInBtn {
  cursor: pointer;
  border-radius: 8px;
  color: rgb(51, 202, 197);
  padding: 0.5rem 1.2rem;
  font-family: "Montserrat", sans-serif;
  /* border: 1px solid gray; */
}

.signUpBtn {
  cursor: pointer;
  border-radius: 8px;
  color: white;
  background-color: rgb(51, 202, 197);
  padding: 0.5rem 1.2rem;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1360px) {
  .header {
    width: 944px;
  }
  .logoBox {
    left: 0px;
  }
  .logo {
    display: none;
  }

  .mobilelogo {
    all: unset;
    width: 2.1rem;
  }

  .inputBox {
    position: relative;
    left: -138px;
    width: 525px;
  }
  .btns {
    right: 0px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    display: none;
  }
}
