.container {
  width: 685px;
  margin: 0 auto;
  margin-left: 236px;
  margin-top: -1.2rem;
}

.moreSectionTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: #333333;
  margin-top: 9rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(223, 223, 223);
}

.recommendedItems {
  padding-bottom: 3rem;
}
.loadingBox {
  display: flex;
  justify-content: center;
}
.loading {
  width: 3rem;
  padding-top: 0.5rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 1360px) {
  .container {
    width: 625px;
    margin: 0;
    margin-left: 40px;
    margin-top: -1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    margin: 0;
    margin-top: -1.5rem;
  }
}

@media screen and (max-width: 719px) {
  .container {
    margin-top: -2rem;
  }
  .moreSectionTitle {
    margin-top: 3rem;
    border: none;
    padding: 2rem 1.5rem 1rem 1.5rem;
    border-top: 10px solid #f7f8fa;
  }
}
